doctype html
html(lang="en")
  head
    meta(property="og:title" content="TPF Account")
    meta(property="og:description" content="Your account you use for all TPF services")
    meta(property="og:locale" content="US-EN")
    meta(property="og:image" content="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?202110180743")
    meta(property="og:site_name" content="TPF Account")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://account.apple.com/")
    
    meta(name='charset' content='utf-8')
    meta(name='authour' content='final898y')
    meta(name='keyword' content='TradePlateForm,蝦皮')
    meta(name='description' content='TradePlateForm')    
    title TPF網站
  body
    block header
    nav
      ul
        li: a(href="#") Home
        li: a(class='button' target='_blank' href='//localhost:443/api-docs') Swagger UI
        li: a(class='button' target='_blank' href='//localhost:443/users/register') Register
    block content
    footer
    h1 Copyright © 2024 TPF Inc. 保留一切權利。